* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    background-color: rgb(216, 213, 185);
    display: flex;
    justify-content: center;
    user-select: none;
}

header {
    text-align: center;
    margin-top: 50px;
}

header h1 {
    font-size: 3em;
    font-family: 'Times New Roman', Times, serif;
}

header h3 {
    font-size: 1.5em;
    font-family: cursive;
}

.eu-sou {
    background-color: rgb(223, 193, 129);
    border: 2px solid black;
    border-radius: 5px;
    width: 25vw;
    height: 10vh;
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.eu-sou:hover {
    background-color: rgb(207, 181, 119);
    transition-duration: 0.2s;
}

.eu-sou p {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.3em;
}

input {
    background-color: black;
    color: white;
    margin-top: 10px;
    width: 15vw;
    height: 4vh;
}

button {
    background-color: black;
    color: white;
    margin-top: 10px;
    width: 7vw;
    height: 4vh;
}